#!/bin/sh
set -eu

mkdir -p \
  "{{ .chezmoi.homeDir }}/Documents" \
  "{{ .chezmoi.homeDir }}/Downloads" \
  "{{ .chezmoi.homeDir }}/Music" \
  "{{ .chezmoi.homeDir }}/Pictures" \
  "{{ .chezmoi.homeDir }}/Public" \
  "{{ .chezmoi.homeDir }}/Screenshots" \
  "{{ .chezmoi.homeDir }}/Templates" \
  "{{ .chezmoi.homeDir }}/Videos" \
  "{{ .chezmoi.homeDir }}/vimwiki"
