[%General]
author=Neurowave
comment=Cyberdeck Neurowave theme
x11drag=true
alt_mnemonic=true
left_tabs=false
attach_active_tab=false
mirror_doc_tabs=false
embedded_tabs=true
group_toolbar_buttons=false
toolbar_interior_spacing=1
composite=true
menu_shadow_depth=4
menu_blur_radius=2
spread_menuitems=true
tooltip_shadow_depth=4
tooltip_blur_radius=2
splitter_width=6
scroll_width=10
scroll_min_extent=40
slider_width=6
slider_handle_width=14
slider_handle_length=14
blurring=true
button_icon_size=16
click_behavior=0
fill_rubberband=false
large_icon_size=32
progressbar_thickness=8
menubar_mouse_tracking=true
merge_menubar_with_toolbar=true
popup_blurring=true
scroll_arrows=false
small_icon_size=16
toolbar_icon_size=16
toolbutton_style=0
translucent_windows=false
vertical_spin_indicators=false
inline_spin_indicators=true
combo_as_lineedit=true
combo_menu=true
combo_focus_rect=true
animate_states=true
tree_branch_line=true
transient_scrollbar=true
groupbox_top_label=true
reduce_window_opacity=4
remove_extra_frames=true
roundness=6

[GeneralColors]
window.color=#${BASE00}
base.color=#${BASE01}
alt.base.color=#${BASE01}
button.color=#${BASE01}
light.color=#${BASE10}
mid.light.color=#${BASE04}
dark.color=#${BASE00}
mid.color=#${BASE01}
highlight.color=#${BASE02}
inactive.highlight.color=#${BASE10}
tooltip.base.color=#${BASE01}
text.color=#${BASE05}
window.text.color=#${BASE05}
button.text.color=#${BASE05}
disabled.text.color=#${BASE10}
tooltip.text.color=#${BASE05}
highlight.text.color=#${BASE05}
link.color=#${BASE0D}
link.visited.color=#${BASE0D}

[Hacks]
respect_darkness=true
blur_translucent=false
force_size_grip=true
iconless_menu=false
iconless_pushbutton=false
transparent_dolphin_view=true
transparent_pcmanfm_view=true
transparent_pcmanfm_sidepane=true

[General]
theme=Neurowave

[Window]
background.color=#${BASE00}
foreground.color=#${BASE05}
background.alternate.color=#${BASE01}

[Selection]
background.color=#${BASE02}
foreground.color=#${BASE05}

[Button]
background.color=#${BASE01}
foreground.color=#${BASE05}
border.color=#${BASE10}
hover.background.color=#${BASE01}
hover.border.color=#${BASE04}
focus.color=#${BASE0D}
focus.border.color=#${BASE0D}

[CheckBox]
background.color=#${BASE01}
foreground.color=#${BASE05}
border.color=#${BASE10}
checked.background.color=#${BASE0B}
checked.foreground.color=#${BASE00}
checked.border.color=#${BASE0B}
hover.background.color=#${BASE01}

[RadioButton]
background.color=#${BASE01}
foreground.color=#${BASE05}
border.color=#${BASE10}
checked.background.color=#${BASE0B}
checked.foreground.color=#${BASE00}
checked.border.color=#${BASE0B}

[ComboBox]
background.color=#${BASE01}
foreground.color=#${BASE05}
border.color=#${BASE10}
hover.background.color=#${BASE01}
focus.color=#${BASE0D}
focus.border.color=#${BASE0D}

[ProgressBar]
background.color=#${BASE10}
foreground.color=#${BASE0B}
border.color=#${BASE10}

[ScrollBar]
background.color=#${BASE00}
foreground.color=#${BASE02}
border.color=#${BASE00}
hover.foreground.color=#${BASE0D}
active.foreground.color=#${BASE0B}

[Slider]
groove.color=#${BASE10}
handle.color=#${BASE05}
border.color=#${BASE0D}
handle.hover.color=#${BASE0B}

[SpinBox]
background.color=#${BASE01}
foreground.color=#${BASE05}
border.color=#${BASE10}
focus.color=#${BASE0D}
focus.border.color=#${BASE0D}

[Tab]
background.color=#${BASE01}
foreground.color=#${BASE05}
active.background.color=#${BASE00}
active.foreground.color=#${BASE0D}
border.color=transparent
active.border.color=#${BASE0D}
hover.background.color=#${BASE01}

[ToolTip]
background.color=#${BASE01}
foreground.color=#${BASE05}
border.color=#${BASE10}

[Menu]
background.color=#${BASE01}
foreground.color=#${BASE05}
border.color=#${BASE10}
hover.background.color=#${BASE02}
hover.foreground.color=#${BASE05}

[ToolBar]
background.color=#${BASE00}
foreground.color=#${BASE05}
border.color=#${BASE04}

[Header]
background.color=#${BASE00}
foreground.color=#${BASE05}
border.color=#${BASE04}

[TitleBar]
background.color=#${BASE00}
foreground.color=#${BASE05}
border.color=#${BASE00}
inactive.background.color=#${BASE00}
inactive.foreground.color=#${BASE10}

[Dialog]
background.color=#${BASE00}
foreground.color=#${BASE05}

[View]
background.color=#${BASE00}
foreground.color=#${BASE05}

[ListView]
background.color=#${BASE00}
foreground.color=#${BASE05}
alternate.background.color=#${BASE01}
hover.background.color=#${BASE01}
selected.background.color=#${BASE02}
selected.foreground.color=#${BASE05}

[Input]
background.color=#${BASE01}
foreground.color=#${BASE05}
border.color=#${BASE10}
focus.color=#${BASE0D}
focus.border.color=#${BASE0D}
