color=${BASE00}

font=monospace
font-size=90

clock
timestr=%H:%M
datestr=%d %B %Y, %a

indicator
indicator-idle-visible
indicator-radius=120
indicator-thickness=12

ring-color=${BASE0D}cc
inside-color=${BASE00}cc
line-uses-inside

text-color=${BASE05}
text-ver-color=${BASE05}
text-wrong-color=${BASE08}

ring-ver-color=${BASE0B}
ring-wrong-color=${BASE08}

key-hl-color=${BASE0B}
bs-hl-color=${BASE08}
separator-color=${BASE00}

show-failed-attempts
ignore-empty-password
daemonize
