{{- $outputs := get . "machineSettings" | default (get . "dwlOutputs") | default "" -}}
{{- if $outputs -}}
{{ $outputs | fromJson | toPrettyJson }}
{{- else -}}
{{ includeTemplate "machine-settings" . | fromJson | toPrettyJson }}
{{- end }}
