typeset -U path PATH
path=(~/.local/bin ~/.cargo/bin $path)

source "${XDG_CONFIG_HOME:-$HOME/.config}/shell/env.sh"

{{ if eq .desktop "hyprland" -}}
if [[ -z "${WAYLAND_DISPLAY:-}" && -z "${DISPLAY:-}" && "${XDG_VTNR:-}" == 1 ]]; then
    exec start-hyprland
fi
{{ else if eq .desktop "dwl" -}}
if [[ -z "${WAYLAND_DISPLAY:-}" && -z "${DISPLAY:-}" && "${XDG_VTNR:-}" == 1 ]]; then
    exec start-dwl
fi
{{ else if ne .desktop "none" -}}
{{ fail (printf "invalid desktop profile %q" .desktop) }}
{{ end -}}
